@font-face {
    src: url(fonts/Roboto-VariableFont_wdth,wght.ttf);
    font-family: Roboto;
}
@font-face {
    src: url(fonts/OpenSans-VariableFont_wdth,wght.ttf);
    font-family: OpenSans;
}

h1{
    text-shadow: 3px 3px 5px rgb(179, 18, 18), -3px -3px 5px rgb(83, 219, 231);
}
#box1{
    width: 100px;
    height: 100px;
    background-color: rgb(210, 210, 210);
    box-shadow: 3px 3px 5px;
}