@font-face {
    src: url(fonts/Roboto-VariableFont_wdth,wght.ttf);
    font-family: Roboto;
}
@font-face {
    src: url(fonts/OpenSans-VariableFont_wdth,wght.ttf);
    font-family: OpenSans;
}

body{
    margin: 0px;
}
.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
}
#box1{
    background-color: rgb(39, 172, 198);
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}
#box2{
    background-color: rgb(64, 54, 181);
    margin-top: 100px;
}