@font-face {
    src: url(fonts/Roboto-VariableFont_wdth,wght.ttf);
    font-family: Roboto;
}
@font-face {
    src: url(fonts/OpenSans-VariableFont_wdth,wght.ttf);
    font-family: OpenSans;
}
body{
    border: 3px solid;
    display: flow-root;
}
#img1{
    float: left;
    margin-right: 10px;
}
#img2{
    float: right;
    margin-left: 10px;
}